*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #9b9b9b;
}
i{
    color:#2fccd0;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url(../img/img.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0%,100% 75%, 50% 100%, 0 75%, 0 0);
    position: relative;
}

.header:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.navbar:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);

}

.nav-item a{
    color: #fff!important;
    font-weight: bold;
    margin: 0 5px;

}

.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
    
}

.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.header-buttons a{
    color: white;
    font-size: 1.2rem;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 8px 18px;
    margin: 5px;
    background: transparent;
    
}
.header-buttons a:hover{
    color: rgb(158, 250, 219);
    text-decoration: none;
    transition-duration: 0.4s;
    box-shadow: 0.5px 0.5px 8px 1px aqua;
  
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}

/* ------------------------------------------------------------------------ */

.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;

}
.extra-div{
    background: white;
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s ease;
}
.extra-div h2, .servicediv h2{
    font-size: 1.2rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
    color: black;
}

.extra-div:hover{
    box-shadow: 1px 1px 20px 0 rgb(197, 197, 197);
    transform: translateY(-10px);

}
.servicesoffers{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
    
}

.headings{
    margin-bottom: 50px;
}

.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    
}

.name h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}
.services-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress{
    height: 0.6rem!important;
    margin-bottom: 25px!important;
    background: #606060!important;
}

.project-work{
    margin: 60px 0;
}


.pricing{
    width: 100%;
    height: 100vh ;
    position: relative;

    
}
.pricing h1{
    color: cornsilk;
    font-size: 1.5rem;
    padding: 30px 0;
}

.pricing:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(160deg,  #5fcbe6 55%, #fff 0%);

}

.money{
    font-size: 2rem;
    color: rgb(61, 61, 61);
}
.card{
    height: 500px;
    transition-duration: 0.5s;
}
.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff;
    padding: 25px 9px!important;
}
.card-body{
    padding: 30px 0px!important;
}
.card-body li{
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}
.card-footer{
    background: white!important;
    padding: 30px 0!important;
}

.card-footer a{
    color: #50d1ce;
    font-size: 1.2rem;
    border: 1px solid #50d1ce;
    border-radius: 30px;
    padding: 12px 25px;
    margin: 5px;
    transition-duration: 0.5s;
    background: transparent;
    
}
.card-footer a:hover{
    background-color: rgb(33, 211, 202);
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    

}
.card:hover{
    transform: translateY(-30px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover .card-header, .card:hover .money{
    color: #50d1c0;
}
.card-second{
    transform: translateY(-30px);
}